/* max height  */
@media screen and (max-height:680px) {
    .login_inner {
        height: 90vh;
    }
}


@media screen and (max-height:600px) {
    .login_inner {
        height: 95vh;
    }
}


@media screen and (max-height:600px) {
    .login_inner {
        height: 600px;
        margin: 150px 0px 100px 0px;
    }
}


@media screen and (max-height:570px) {
    .login_inner {
        height: 600px;
        margin: 250px 0px 150px 0px;
    }
}


@media screen and (max-height:530px) {
    .login_inner {
        height: 600px;
        margin: 350px 0px 200px 0px;
    }
}

@media screen and (max-height:475px) {
    .login_inner {
        height: 600px;
        margin: 450px 0px 250px 0px;
    }
}

@media screen and (max-height:425px) {
    .login_inner {
        height: 600px;
        margin: 570px 0px 300px 0px;
    }
}

@media screen and (max-height:350px) {
    .login_inner {
        height: 600px;
        margin: 670px 0px 350px 0px;
    }
}


@media screen and (max-height:300px) {
    .login_inner {
        height: 600px;
        margin: 800px 0px 400px 0px;
    }
}

/* max height closed */




@media screen and (min-width:2200px) {
    .main_register {
        height: 100vh;
    }


    .main_inner {
        width: 2200px;
    }
}

/* max width */


@media screen and (max-width:1570px) {

    .left_writing_content {
        width: 700px;
    }

    .landing_heading {
        font-size: 45px;
    }



    .banner_img {
        width: 600px;
        height: 336px;
    }
}


@media screen and (max-width:1230px) {

    .left_writing_content {
        width: 600px;
    }

    .landing_heading {
        font-size: 40px;
    }


    .banner_img {
        width: 550px;
        height: 336px;
    }
}

@media screen and (max-width:1350px) {

    /* header section */
    header {
        width: 95%;
    }
}

@media screen and (max-width:1180px) {

    /* header section */
    header {
        width: 100%;
        margin: 0 !important;
    }

    /* common work */
    .main{
        padding: 0 5px !important;
    }
    .main_inner {
        margin: 0 !important;
        padding: 0;
    }

    .banner_img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:1090px) {

    .landing_banner_main {
        width: 100%;
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left_writing_content {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .landing_heading {
        width: 98%;
        margin: 15px auto;
        font-size: 38px;
    }

    .landing_subheading {
        width: 90%;
        margin: 15px auto;
        font-size: 20px;
    }

    .right_image_content {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 10px;
    }

    .banner_img {
        width: 65%;
        height: auto;
    }

    .landing_page_banner_buttons{
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width:1040px) {
.options_section{
    display: none !important;
}

.menubar{
    display: block;
}
.login_sign_in_btn_section{
    display: none;
}
}


@media screen and (max-width:980px) {

    .landing_heading {
        width: 98%;
        font-size: 32px;
        font-weight: bolder;
    }

    .landing_subheading {
        width: 90%;
        margin: auto;
        font-size: 18px;
    }

    .counter_landing{
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    
    .counter_elements{
        margin: 25px 0px;
    }

}

@media screen and (max-width:610px) {
    .login_inner {
        width: 95%;
        padding: 0px 10px;
    }

}


@media screen and (max-width:450px) {
    .landing_heading {
        font-size: 28px;
    }

    .landing_page_banner_buttons {
        flex-direction: column;
    }
}