@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Geist+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home_banner {
  background-image: url("images/23cb6024-dc4b-43a4-a5d7-7b954ee4ae3c.jpg");
  background-position: center;
  background-size: cover;
}

.options {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  transition: 0.3s;
}

.options:hover {
  background-color: #e02708;
  color: white;
}

.menubar {
  display: none;
}

.dashboard_login_page {
  background: url("images/a31.jpg");
  background-position: center;
  background-size: cover;
}

.page_label {
  box-shadow: 0px 0px 10px 0px #e02708;
}

.sidebar_dashboard:hover {
  width: 250px;
  margin-right: 30px;
  transition: 0.5s;
}

.sidebar_dashboard::-webkit-scrollbar {
  display: none;
}

.sidebar_dashboard:hover .side_icons {
  width: 30%;
}

.sidebar_options:hover {
  background-color: white;
  color: #e02708;
}
.side_options {
  z-index: -9999;
}
.side_options {
  opacity: 0;
  transition: 0.2s;
}
.sidebar_dashboard:hover .side_options {
  position: unset;
  opacity: 1;
  z-index: 9999;
}

.login_page {
  background: url("images/bou9.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.about_banner {
  filter: brightness(0);
}

.home_banner_2 {
  background-image: url("images/freepik__candid-image-photography-natural-textures-highly-r__58848.jpeg");
  background-size: cover;
}

.logo {
  filter: brightness(1);
}


.login_page{
  padding: 0px 5px;
}