@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --button-color--: #8637F8;
}

.login_inner {
    box-shadow: 0px 0px 25px 0px #8637F81A;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.requires_message {
    color: red !important;
}

.header_options_div {
    width: calc(70% - 150px);
}

.landing_counter {
    box-shadow: 0px 0px 10px 0px #0003FE1A;
}

.header {
    box-shadow: 0px 0px 10px 0px #B2B3FF1A;
}

.about_img_section>div {
    top: 40%;
}


.corner_cut {
    border-radius: 100px 0px 0px 0px;
    top: -32%;
    left: -10%;
    z-index: -9;
}

.rounded_element {
    border-radius: 100px 0px 0px 0px;
    z-index: -9;
}

.our_services_cards {
    box-shadow: 0px 13px 100px 0px #6666662a;
}

.faq_outer_section {
    box-shadow: 0px 6px 16px 0px #4A3AFF;

}

.faq_outer_section_deactive_btn {
    box-shadow: 0px 5px 16px 0px #080F340F;
}

.faq_outer_section_deactive {
    background: #FFFFFF;
    box-shadow: 0px 5px 16px 0px #080F340F;

}

.sidebar ::-webkit-scrollbar {
    display: none;
}

.card_logo_section{
    box-shadow: 0px 1px 20px 0px #0000001A;

}

.termsmodalsection::-webkit-scrollbar{
    display: none;
}