@media screen and (max-height : 658px) {
    .login_main {
        height: auto;
    }
}


@media screen and (max-height : 523px) {
    .registered_success_message {
        height: 600px;
    }
}



/* max width  */
@media screen and (min-width:1600px) {
    .main {
        width: 1600px;
        margin: auto;
    }
}

@media screen and (max-width:1420px) {
    .startupcard{
        width: 48%;
    }
}

@media screen and (max-width:1300px) {
    .why_choose_four_secction_outer {
        width: 70%;
        right: 5%;
    }
}


@media screen and (max-width : 1200px) {
    .header {
        width: 90% !important;
    }

    .extra_br {
        display: none;
    }

    .about_us_content {
        font-size: 16px;
    }
}

@media screen and (max-width:1090px) {
    .landing_banner_section {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        width: 97%;
    }

    .landing_banner_heading_section {
        width: 100%;
        text-align: center;
    }

    .landing_banner_img_section {
        width: 100%;
    }

    .about_us_section {
        flex-direction: column;
    }


    .about_us_image_section {
        width: 100%;
        height: 100%;
    }

    .about_us_content_section {
        width: 100%;
    }

    .about_us_section {
        width: 97%;
        height: 800px;
    }



    .dots_img {
        top: 5%;
    }

    .why_choose_section {
        display: none;
    }

    .why_choose_section_two {
        display: block;
    }

    .investor_section {
        flex-direction: column-reverse;
    }

    .investor_section>div {
        width: 100%;
        text-align: center;
    }

    .investor_content>button {
        width: 100%;
    }


    .startup_section {
        flex-direction: column;
    }

    .startup_section>div {
        width: 100%;
        text-align: center;
    }

    .startup_content>button {
        width: 100%;
    }

    .investor_or_startup_section {
        padding: 20px 0px;
    }

    .investor_or_startup_section_inner {
        width: 97%;
    }

    .faq_inner {
        width: 97%;
    }

    .contact_us_inner {
        width: 97%;
    }



    .termsmodalsection {
        width: 95%;
    }

    .cross_btn_termsandcondition {
        right: 2%;
        top: 8px;
    }
}

@media screen and (max-width : 991px) {
    .istart_section {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width : 900px) {
    .header {
        width: 100% !important;
        margin-top: 0;
        border-radius: 0;
    }

    .landing_inner {
        padding: 0;
    }

    .header_options_div {
        display: none;
    }

    .login_btn {
        display: none;
    }

    .menubar {
        display: block;
    }

    .landing_counter {
        width: 97%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing_counter>div {
        margin: 20px 0px;
    }


    .login_inner_term {
        width: 100%;
        padding: 5px;
    }

    .registerforms {
        padding: 5px;
    }

    .button_section {
        padding: 5px;
    }

}

@media screen and (max-width : 890px) {
    .startupcard{
        width: 100%;
        margin: 20px 0px 0px 0px;
    }

    .startup_info_inner{
        flex-direction: column;
    }

    .startup_info_inner_left{
        width: 100%;
        border: 0;
    }

    .startup_info_inner_right{
        width: 100%;
    }

    .startups_value{
        width: 100%;
    }
}

@media screen and (max-width:760px) {
    .contact_us_input {
        width: 100%;
    }

}



@media screen and (max-width:690px) {
    .registerforms {
        flex-direction: column;
        width: 100% !important;
    }

    .registerformsleft {
        width: 100%;
    }

    .registerformsright {
        width: 100%;
    }
}


@media screen and (max-width:690px) {
    .contact_us_inner_section {
        flex-direction: column;
    }

    .contact_us_section1 {
        width: 100%;
    }

    .contact_us_section2 {
        width: 100%;
    }

    .login_input_section {
        margin: 0;
    }
}

@media screen and (max-width:598px) {
    .login_inner_otp {
        width: 100%;
    }
}

@media screen and (max-width : 571px) {
    .istart_section {
        width: 100%;
        text-align: center;
    }

    .multiple_pages_links {
        width: 100%;
    }

    .multiple_pages_links>div {
        flex-direction: column;
        text-align: center;
        margin: 15px 0px;
    }

    .multiple_pages_links>div>ul {
        line-height: 35px;
    }

    .footer_logo_section {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .social_links_section {
        width: 100%;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .founder_cofounder {
        flex-direction: column;
        height: 450px;
    }

    .founder_section {
        width: 100%;
        border: none;
    }


    .cofounder_section {
        width: 100%;
        border: none;
    }
}

@media screen and (max-width : 480px) {
    .landing_banner_btn {
        flex-direction: column;
    }

    .landing_banner_btn>button {
        width: 100%;
        margin: 5px 0px;
    }
}


@media screen and (max-width : 460px) {
    .login_inner {
        width: 100%;
        padding: 15px;
    }
}